body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0px;
  padding: 0px;
}
